* {
    box-sizing: border-box;
    font-family: 'Passion One', cursive;
}

body {
    margin: 0;
    background: linear-gradient(90deg, rgb(37, 37, 37) 50%, rgb(165, 165, 165) 50%);
    background: rgb(1, 4, 22) url("./media/stars-bg.jpg") no-repeat fixed center;
    background-size: cover;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    justify-content: space-evenly;
    gap: 2rem;
}

#id {
    flex-basis: 100%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    box-shadow: 10px 20px 30px #000;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 30px 5px;
    background-color: rgb(255, 232, 31);
    margin-bottom: 25px;
}

#character-image {
    border-radius: 2vw;
    width: 30%;
    margin-right: 2vw;
    margin-bottom: 1vw;
}

@media (max-width: 578px) {
    #character-image {
        width: 40%;
    }
}

@media (max-width: 480px) {
    #character-image {
        width: 50%;
    }
}

.name-generator {
    background-image: linear-gradient(90deg, red, blue);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1500ms ease;
}

.name-generator-active {
    background-size: 100% 3px;
}

#eye_color {
    text-transform: capitalize;
}

.flexbox button {
    border: 5px solid rgb(255, 232, 31);
    background-color: #000;
    color: #fff;
    border-radius: 10px 10px 50px 50px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    flex-basis: 250px;
    box-shadow: 1px 1px 5px rgb(255, 232, 31);
    max-height: 140px;
}

button:hover {
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content{
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    padding: 15px;
    overflow: hidden;
    position: relative;
    max-width: 750px;
    margin: auto;
    border-radius: 20px;
    border: 0px solid #fcfcfc;
    padding: 25px;
    border-image: url(none) 30 stretch;
}

.modal-close{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 8px;
    right: 40px;
    transition: all .2s;
    cursor: pointer;
    width: auto;
}

.modal-close:hover{
    transform: scale(1.2);
}

.modal-img img{
    width: 100%;
}

.modal-text{
    text-align: center;
    padding-top: 20px;
}

.modal-text h2{
    font-size: 2.2em;
    font-weight: 600;
    color: rgb(255, 232, 31);
    text-shadow: 2px 2px 7.5px #000;
    margin-bottom: 5px;
}

@media (max-width: 395px) {
    .modal-text h2 {
        display: none;
    }
}

.modal-text p{
    font-size: 1.2em;
    margin-top: 5px;
    font-family: 'Forum', cursive;
}

/* scroll effect */
section {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 15px;
	transition: transform 0.25s;
	will-change: transform;
}